html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ant-modal-close-x {
  position: absolute;
  font-size: 35px !important;
  top: -80px;
}
.ant-table-thead>tr>th {
  background: gray !important;
  color: white !important;
  font-size: 18px;
  font-weight: bold;
  border: none !important;
}
td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
tr:nth-child(even) {
  background-color: #fff;
}
iframe{
  height: 100vh;
  width: 100%;
}
